html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
  }
  
  .container > * {
    padding: 10px;
  }

  .input{
    border: 1px black solid;
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
  }